body {
  margin: 0;
  padding: 0;
  background-color: #664229;
  font-family: Nunito, sans-serif;
  box-sizing: border-box;
}
@media screen and (min-width: 800px) {
  body {
    padding-bottom: 20px;
  }
}

h1, h2, h3 {
  font-family: "work sans", sans-serif;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-decor {
  text-decoration: none;
}

.content {
  max-width: 1100px;
  margin: auto;
}
@media screen and (min-width: 650px) {
  .content {
    border: 5px solid #332011;
    border-top: 0;
    border-radius: 0 0 15px 15px;
  }
}

.content-main {
  background-color: #FCF3E4;
  padding: 20px 0;
}

@media screen and (min-width: 900px) {
  .content-wide-grid {
    display: grid;
    gap: 30px;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: auto;
  }
}
.menu {
  background-color: #D2B48C;
}
.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 550px) and (max-width: 770px) {
  .menu__list {
    justify-content: space-around;
  }
}
.menu__item {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.menu__link {
  display: block;
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid #332011;
  color: #332011;
  text-align: center;
}
.menu__link:hover {
  color: #FCF3E4;
  background-color: #332011;
}
.menu__link--active {
  color: #FCF3E4;
  background-color: #664229;
}
@media screen and (min-width: 550px) and (max-width: 770px) {
  .menu__link {
    margin: 2px;
    padding: 10px 10px;
  }
}

.text {
  margin: 30px auto;
  padding: 0 5%;
}
@media screen and (min-width: 700px) {
  .text {
    padding: 0 15%;
  }
}
@media screen and (min-width: 900px) {
  .text {
    padding: 0;
    margin: 0;
  }
}
.text__welcome-title {
  text-align: center;
  font-size: 28px;
}
.text__section-title {
  text-align: center;
  font-size: 20px;
}
.text__content--emphasis {
  font-weight: bold;
  font-style: italic;
}
.text__content--center {
  text-align: center;
}

.header__image {
  width: 100%;
  border-bottom: 2px solid #332011;
  border-top: 2px solid #332011;
  display: block;
}

.header__textbox {
  display: none;
}

@media screen and (min-width: 900px) {
  .header__text-image {
    position: relative;
    display: flex;
  }

  .header__textbox {
    display: inline-block;
    position: absolute;
    text-align: right;
    top: 30px;
    right: 30px;
  }

  .header__text {
    margin: 0;
    margin-bottom: 0.5em;
    color: #FCF3E4;
  }
}
.bubble__image {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: auto;
  border: 2px solid #332011;
}
.bubble__image--big {
  width: 150px;
  height: 150px;
}
@media screen and (min-width: 900px) {
  .bubble__image--big {
    width: 200px;
    height: 200px;
  }
}

.footer {
  padding: 30px;
  background-color: #332011;
  color: #FCF3E4;
  text-align: center;
}

.footer__text {
  margin: 0;
  font-size: 14px;
}

.footer__text--small {
  font-size: 12px;
}

.content-block {
  margin: 40px 0;
  padding: 50px;
  background-color: #EFDBB6;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .content-block {
    margin: 0;
  }
}
.content-block__link {
  color: #664229;
  font-size: 20px;
  font-weight: bold;
}
.content-block--wide {
  grid-column: span 3;
}
.content-block:hover {
  background-color: #cfb88c;
  color: #FCF3E4;
}

.button {
  border-radius: 8px;
  background-color: #D2B48C;
  color: #332011;
  display: inline-block;
  text-align: center;
}
.button--small {
  padding: 5px 40px;
}
.button:hover {
  background-color: #664229;
  color: #FCF3E4;
}

.text__button {
  margin: 15px 0;
}

.highlights {
  grid-column: span 3;
}
@media screen and (min-width: 900px) {
  .highlights {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    gap: 40px;
    margin: 15px 50px;
  }
}
.highlights__box {
  background-color: #D2B48C;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 200px;
  box-sizing: border-box;
}
@media screen and (min-width: 400px) {
  .highlights__box {
    margin: 20px 15%;
  }
}
@media screen and (min-width: 500px) {
  .highlights__box {
    margin: 20px auto;
    width: 50%;
  }
}
@media screen and (min-width: 900px) {
  .highlights__box {
    margin: 0;
    width: auto;
  }
}
.highlights__box--padded {
  padding: 20px;
}
.highlights__image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: block;
}
.highlights__text {
  text-transform: uppercase;
}

.dog {
  padding: 0 10px 20px 10px;
}

.dog__header {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.dog__header::after {
  content: "";
  display: block;
  width: 400px;
  height: 1.5px;
  background-color: #D2B48C;
  margin: 10px auto;
}

.dog__grid {
  margin: auto;
  display: grid;
  gap: 20px;
  align-items: center;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}
@media screen and (min-width: 550px) {
  .dog__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 900px) {
  .dog__grid {
    display: grid;
    gap: 20px;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    max-width: 850px;
  }
}

.dogbox {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #EFDBB6;
  border: 1px solid #EFDBB6;
  border-radius: 10px;
}
.dogbox:hover {
  background-color: #FCF3E4;
  border: 1px solid #332011;
}

.dogbox__link {
  text-decoration: none;
  text-align: center;
  color: #332011;
}

.dogbox__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  display: block;
  border: 2px solid #332011;
}

.dogbox__text {
  padding-top: 20px;
}

.dogbox__name,
.dogbox__descrip {
  margin: 0;
}

.dogbox__name {
  text-transform: uppercase;
  font-weight: bold;
}

.dogbox__image-wrap {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.heart {
  display: none;
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 2;
}

.dogbox:hover .heart {
  display: block;
}

.heart--left {
  transform: rotate(-40deg);
  top: 15px;
}

.heart--right {
  transform: rotate(30deg);
  right: 10px;
  bottom: 10px;
}/*# sourceMappingURL=style.css.map */