@use 'colors';
@use 'common';


.adoption__section {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    padding-top: 0;

    &--wide {
        max-width: 700px;
    }

    &--underlined::after {
        content: "";
        display: block;
        width: 80%;
        height: 2px;
        background-color: colors.$color-menu-bg;
        margin: 20px auto 20px auto;
    }

    &--grid {
        padding: 0 10px;
        margin: auto;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;        
        align-items: center;  

        @media screen and (min-width: 800px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 30px;            
            align-items: center;       
            margin-bottom: 30px;     
        }

        @media screen and (min-width: 750px) {
            padding: 0;
        }
        
    }
}

.adoption__warn {
    text-align: center;
}


.adoption__grid--left {
    width: 350px;
    margin: auto;
    padding-bottom: 20px;

    @media screen and (min-width: 800px) {
        padding-bottom: 0;
    }
}


.long-bubble {
    background-color: colors.$color-highlight;
    padding: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 50px;
    margin-bottom: 10px;

    &__image {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border: 1px solid colors.$color-highlight-hover;
        border-radius: 50%;
    }

    &__text {
        padding: 0 10px;
    }

    &--right {
        margin-left: auto;
        margin-right: 0;
    }
}






.adoption__process {
    background-color: colors.$color-highlight;
    padding: 15px;
    border-radius: 15px;
    max-width: 400px;
    margin: auto;
    border: 3px solid colors.$color-body-bg;

    @media screen and (min-width: 800px) {
        max-width: 100%;
    }
}

.process__title {
    text-align: center;
}


.process__list {
    padding-left: 20px;

    &-item {
        margin: 10px;
    }
}

.fee__explanation {
    margin: 0;
    font-size: 14px;
    font-style: italic;
}




.thankyou {
    margin-top: 50px;
    text-align: center;
}