@use 'colors';
@use 'common';

.button {
    border-radius: 8px;
    background-color: colors.$color-menu-bg;
    color: colors.$color-dark;
    text-align: center;
    padding: 10px;

    &--small {
        display: inline-block;
        padding: 5px 40px; 
    }

    &:hover {
        background-color: colors.$color-body-bg;
        color: colors.$color-content-bg;
    }
}

.text__button {
    margin: 15px 0;
}



.adoption-button__text {
    margin: 10px;
}