@use 'colors';
@use 'common';

.content-block {
    margin: 40px 0;
    padding: 50px;
    background-color: colors.$color-highlight;
    text-align: center;

    

    @media screen and (min-width: 900px) {
        margin: 0;
    }



    &__link {
        color: colors.$color-body-bg;
        font-size: 20px;
        font-weight: bold;
    }


    
    &--wide {
        grid-column: span 3;
    }

    &:hover {
        background-color: colors.$color-highlight-hover;
        color: colors.$color-content-bg;
    }
}