@use 'colors';
@use 'common';


.header__image {
    width: 100%;
    border-bottom: 2px solid colors.$color-dark;
    border-top: 2px solid colors.$color-dark;
    display: block;
}

// .header__textbox {
//     display: none;
// }

.header__text-image {
    position: relative;
}

.header__textbox {
    display: inline-block;
    position: absolute;
    text-align: right;
    top: 5px;
    right: 5px;

    @media screen and (min-width:380px) {
        top: 10px;
        right: 10px;
    }
   

    @media screen and (min-width: 550px) {    
        top: 30px;
        right: 30px;
    }
}

.header__text {
    font-size: 14px;
    margin: 0;
    margin-bottom: 0.5em;
    color: colors.$color-content-bg;

    @media screen and (min-width:380px) {
        font-size: 16px;
    }

    @media screen and (min-width: 550px) { 
        font-size: 20px;
    }

    @media screen and (min-width: 800px) {
        font-size: 30px;
    }
}






// bubbles

.bubble__image {
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: auto;
    border: 2px solid colors.$color-dark;

    &--big {
        width: 150px;
        height: 150px;

        @media screen and (min-width: 900px) {
            width: 200px;
            height: 200px;
        }
    }

    &--small {
        width: 70px;
        height: 70px;

        @media screen and (min-width: 370px) {
            width: 100px;
            height: 100px;
        }

        @media screen and (min-width: 700px) {
            width: 70px;
            height: 70px;
        }
    }
    
}

.wrap {
    display: block;
    width: 100%;
}



// dogpage images 

.dog-page__images--big {
    position: relative;
    width: fit-content;
    margin: auto;
}

// .dog-page__images--small {
//     display: flex;
//     padding: 15px 0;
//     margin: auto;
//     padding-bottom: 0;
//     justify-content: space-around;

//     @media screen and (min-width: 700px) {
//         padding: 10px;
//         padding-bottom: 0;
//     }
// }



.dog-page__images--small {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin: auto;
    margin-top: 15px;
    width: fit-content;
}




.dogbox__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    display: block;
    border: 2px solid colors.$color-dark;
}

.dog-page__images--fade:hover {
    opacity: 0.8;
}





// dogpage back arrow

.back-button__image {
    height: 35px;
    width: 35px;

    @media screen and (min-width: 900px) {
        height: 50px;
        width: 50px;
        padding-left: 30px;
    }

    &--small {
        height: 35px;
        width: 35px;
    }
}


.thankyou__image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;

    &--short {
        height: 100px;

        @media screen and (min-width: 400px) {
            height: 150px;
        }
    }
}



.help__image {
    object-fit: cover;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    margin: auto;
    display: block;

    @media screen and (min-width: 700px) {
        width: 100%;
        height: 400px;
    }
    
    
}


// icons contact

.contact__icon {
    height: 20px;
    width: 20px;
    object-fit: cover;
    margin-right: 10px;
}


.address__icon {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-right: 20px;
}


.contact-box__text-wrap {
    position: relative;
}

.message__icon {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    bottom: -20%;
}