@use 'colors';
@use 'common';

.text {
    margin: 30px auto;
    padding: 0 5%;

    @media screen and (min-width: 700px) {
        padding: 0 15%;
    }

    @media screen and (min-width: 900px) {
        padding: 0;
        margin: 0;
    }
    


    &__welcome-title {
        text-align: center;
        font-size: 28px;
    }

    &__section-title {
        text-align: center;
        font-size: 20px;
    }

    &__content--emphasis {
        font-weight: bold;
        font-style: italic;
    }

    &__content--center {
        text-align: center;
    }

}