<picture>
    <source media="(min-width: 900px)" srcset="/images/header-blog.jpg">
    <img class="header__image" src="/images/header-blog-small.jpg" alt="utulok tulave labky">
</picture>

</div>


<div class="content-main">