<div class="dog-page__grid--left dog-page__adoption-bar">
    <p class="adoption-bar__text">Ak máte {{ dognameaddress }} záujem, prosím, informujte sa o procese adopcie a kontaktujte nás. Pri kontakte prosím nezabudnite uviesť meno psíka, o ktorého máte záujem. Ďakujeme.</p>
    

    <a href="/adopcia/" class="no-decor"><div class="button button--content-wide text__button">Ako prebieha adopcia</div></a>

    <a href="/kontakt/" class="no-decor"><div class="button button--content-wide text__button button--dark">Mám o psíka záujem</div></a>
</div>