---
layout: main-template.njk
---

        <div class="header">
            <div class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="/" class="menu__link no-decor">Úvod</a>
                    </li>
                    <li class="menu__item">
                        <a href="/psikovia/" class="menu__link menu__link--active no-decor">Psíkovia</a>
                    </li>
                    <li class="menu__item">
                        <a href="/adopcia/" class="menu__link no-decor">Ako adoptovať</a>
                    </li>
                    <li class="menu__item">
                        <a href="/pomoc/" class="menu__link no-decor">Ako pomôcť</a>
                    </li>
                    <li class="menu__item">
                        <a href="/blog/" class="menu__link no-decor">Blog</a>
                    </li>
                    <li class="menu__item">
                        <a href="/kontakt/" class="menu__link no-decor">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content-main">

            <div class="back-button">
                <a href="/psikovia/" class="back-button__link">
                    <img src="/images/backarrow.png" alt="Šípka späť" class="back-button__image">
                </a>
            </div>

            <div class="dog-page__grid">


                {{ content | safe}}


                {% include 'dog-page-button-partial.njk' %}

                
            </div>


        </div>