---
layout: menu-template.njk
---

            <picture>
                <source media="(min-width: 900px)" srcset="/images/header-help.jpg">
                <img class="header__image" src="/images/header-help-small.jpg" alt="utulok tulave labky">
            </picture>

        </div>


        <div class="content-main">
            <div class="help__content">

                <div class="help-buttons-grid">

                    <a href="/materialna-pomoc/" class="no-decor">
                        <div class="button text__button help__button {{ activematclass }}">
                            <p>Materiálna pomoc</p>                            
                        </div>
                    </a>

                    <a href="/dobrovolnictvo/" class="no-decor">
                        <div class="button text__button help__button {{ activevolclass }}">
                            <p>Dobrovoľníctvo</p>
                        </div>
                    </a>

                    <a href="/financna-pomoc/" class="no-decor">
                        <div class="button text__button help__button {{ activefinclass }}">
                            <p>Finančná pomoc</p>
                        </div>
                    </a>
                </div>




                {{ content | safe}}



                <div class="thankyou thankyou--with-text">
                    <picture>
                        <source media="(min-width: 700px)" srcset="/images/help-thankyou-text.jpg">
                        <img class="thankyou__image thankyou__image--short" src="/images/help-thankyou-text-small.jpg" alt="psík">
                    </picture>
    
                </div>

            </div>
        </div>