---
layout: main-template.njk
---


        <div class="header">
            <div class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="/" class="menu__link no-decor">Úvod</a>
                    </li>
                    <li class="menu__item">
                        <a href="/psikovia/" class="menu__link no-decor">Psíkovia</a>
                    </li>
                    <li class="menu__item">
                        <a href="/adopcia/" class="menu__link no-decor">Ako adoptovať</a>
                    </li>
                    <li class="menu__item">
                        <a href="/pomoc/" class="menu__link menu__link--active no-decor">Ako pomôcť</a>
                    </li>
                    <li class="menu__item">
                        <a href="/blog/" class="menu__link no-decor">Blog</a>
                    </li>
                    <li class="menu__item">
                        <a href="/kontakt/" class="menu__link no-decor">Kontakt</a>
                    </li>
                </ul>
            </div>

            <picture>
                <source media="(min-width: 900px)" srcset="/images/header-help.jpg">
                <img class="header__image" src="/images/header-help-small.jpg" alt="utulok tulave labky">
            </picture>

        </div>


        <div class="content-main">
            <div class="help__content">

                <div class="help-buttons-grid">

                    <a href="/materialna-pomoc/" class="no-decor">
                        <div class="button button--content-wide text__button help__button">
                            <p>Materiálna pomoc</p>
                        </div>
                    </a>

                    <a href="/dobrovolnictvo/" class="no-decor">
                        <div class="button button--content-wide text__button help__button">
                            <p>Dobrovoľníctvo</p>
                        </div>
                    </a>

                    <a href="/financna-pomoc/" class="no-decor">
                        <div class="button button--content-wide text__button help__button">
                            <p>Finančná pomoc</p>
                        </div>
                    </a>
                </div>



                {{ content | safe}}



            </div>
        </div>