<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Work+Sans&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="content">

        {{ content | safe}}


        <footer class="footer">
            <p class="footer__text">&copy 2021 pre kurz Kodérka</p>
            <c class="footer__text footer__text--small">Zdroj obrázkov Pixabay.</c>
        </footer>

    </div>
    

    <script src="/fslightbox.js"></script>
</body>
</html>