---
layout: main-template.njk
---


<div class="header">
    <nav class="menu">
        <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
        <label for="menu-checkbox" class="menu__toggle">Menu &#9776</label>
        <ul class="menu__list">
            <li class="menu__item">
                <a href="/" class="menu__link {{ menustartactive }} no-decor">Úvod</a>
            </li>
            <li class="menu__item">
                <a href="/psikovia/" class="menu__link {{ menudogactive }} no-decor">Psíkovia</a>
            </li>
            <li class="menu__item">
                <a href="/adopcia/" class="menu__link {{ menuadoptionactive }} no-decor">Ako adoptovať</a>
            </li>
            <li class="menu__item">
                <a href="/pomoc/" class="menu__link {{ menuhelpactive }} no-decor">Ako pomôcť</a>
            </li>
            <li class="menu__item">
                <a href="/blog/" class="menu__link {{ menublogactive }} no-decor">Blog</a>
            </li>
            <li class="menu__item">
                <a href="/kontakt/" class="menu__link {{ menucontactactive }} no-decor">Kontakt</a>
            </li>
        </ul>
    </nav>


    {{ content | safe}}